*{
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s ease;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y:hidden;
}
/*          CSS variables                                     */
:root{
    --white-color: rgb(255, 255, 255);
}

/*          Fuc***g keyframe Animations                           */
@keyframes in-animation{
    from{
        transform: scale(80%);
    }
    to{
        transform: scale(100%);
    }
}

@keyframes moveElement {
    0% {
        transform: translate(100px,10px);
    }
    100% {
        transform: translate(280px,280px);
    }
}
@keyframes moveElement2 {
    0% {
        transform: translate(-100px,-490px);
    }
    100% {
        transform: translate(-380px,-280px);
    }
}
@keyframes moveElement3 {
    0% {
        transform: translate(480px,-480px);
    }
    100% {
        transform: translate(-480px,50px);
    }
}
@keyframes moveElement4 {
    0% {
        transform: translate(260px,-380px);
    }
    100% {
        transform: translate(500px,-450px);
    }
}
@keyframes moverotateElement1 {
    0% {
        transform: rotate(0deg) translate(25px,-450px);
    }
    100% {
        transform: rotate(360deg) translate(280px,380px);
    }
}
@keyframes moverotateElement2 {
    0% {
        transform: rotate(0deg) translate(105px,-100px);
    }
    100% {
        transform: rotate(360deg) translate(345px,-250px);
    }
}
@keyframes moveElement-alt {
    0%,100% {
        transform: translate(400px,200px);
    }
    50% {
        transform: translate(-600px,-480px);
    }
    75% {
        transform: translate(-600px,-180px);
    }
}
@keyframes moveElement2-alt {
    0%,100% {
        transform: translate(300px,-490px);
    }
    50% {
        transform: translate(-580px,180px);
    }
    75% {
        transform: translate(980px,80px);
    }
}
@keyframes moveElement3-alt {
    0%,100% {
        transform: translate(-380px,-10px);
    }
    50% {
        transform: translate(600px,-950px);
    }
    75% {
        transform: translate(-600px,-450px);
    }
}
@keyframes moveElement4-alt {
    0% {
        transform: translate(-180px,-20px);
    }
    50% {
        transform: translate(500px,-450px);
    }
    75% {
        transform: translate(-400px,-250px);
    }
    75% {
        transform: translate(-400px,-450px);
    }
}
@keyframes moverotateElement1-alt {
    0%,100% {
        transform: rotate(0deg) translate(50px,-450px);
    }
    50% {
        transform: rotate(360deg) translate(-10px,0px);
    }
    75% {
        transform: rotate(360deg) translate(-350px,-400px);
    }
}
@keyframes moverotateElement2-alt {
    0%,100% {
        transform: rotate(0deg) translate(200px,250px);
    }
    50% {
        transform: rotate(400deg) translate(-400px,-425px);
    }
}

@keyframes zoomIn-bg {
    0% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }  
  @keyframes Opacitydown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes lightLeakAnimation{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
  }
  @keyframes backgroundAnimation {
    0% {
      background-color: rgba(44, 44, 44, 0.7);
      transform: translate(0%, 0%) scale(1);
    }
    25% {
      background-color: rgba(46, 46, 46, 0.4);
      transform: translate(0%, 0%) scale(0.7);
    }
    50% {
      background-color: rgba(2, 2, 2, 0.7);
      transform: translate(0%, 0%) scale(0.8);
    }
    75% {
      background-color: rgba(17, 17, 17, 0.4);
      transform: translate(0%, 0%) scale(0.9);
    }
    100% {
      background-color: rgba(37, 37, 37, 0.7);
      transform: translate(0%, 0%) scale(1);
    }
  }
  /*         Light leak animations               */
  .light-leak {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.05) 10%, transparent 70%);
    opacity: 0;
    animation: lightLeakAnimation 8s ease-in-out infinite;
    z-index: -2;
}

@keyframes lightLeakAnimation {
    0%, 100% {
        opacity: 0;
        transform: translate(0, 0);
    }
    25% {
        opacity: 0.5;
        transform: translate(0,0);
    }
    50% {
        opacity: 1;
        transform: translate(0, 0);
    }
    75% {
        opacity: 0.5;
        transform: translate(0,0);
    }
}
/*          Top Header Elements are created here         */
header{
    /* background-color:rgba(10, 59, 165, 0.1); */
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 15px;
    /* background-color: rgba(51, 51, 51, 0.3); */
    align-items: center;
}

.logo{
    display: flex;
} 
.logo-da{
    height: 4vh;
}

.links{
    display: flex;
}
.li-links{
    list-style-type: none;
}
.a-links{
    text-decoration:none;
    color: whitesmoke;
    margin: 0.5vw;
}
.li-links > a{
    color: whitesmoke;
}
.a-links:hover{
    text-decoration: underline;
}
.a-links > svg{
    margin-right: 4px;
    color: whitesmoke;
}
.contributor-container{
    text-align: right;
    margin-right: 3vw;
    padding-right: 3vw
}
.contributor-container:hover{
    background-color: rgba(53, 53, 53, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0,0.5);
}
.contributor-container > h2{
    text-decoration: none;
    color: whitesmoke;
}
.contributor-container > h2:hover{
    text-decoration: underline;
}

/*       The Landing sheet is styled here       */
.promptTitle{
    color: whitesmoke;
}
#landing{
    width: 100vw;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    background-image: url("https://img.freepik.com/free-photo/colorful-abstract-nebula-space-background_53876-111356.jpg?w=740");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#landing{
    background-image: url("https://img.freepik.com/free-photo/colorful-abstract-nebula-space-background_53876-111356.jpg?w=740");
    animation: zoomIn-bg 1s ease-in-out;
}
#landing> h1 {
    color: whitesmoke;
    animation: slideDown 3s ease-out;
}
#landing > h6{
    font-size: 0.7em;
    background-color:rgba(53, 53, 53, 0.6);
    padding: 20px;
    border-radius: 25px;
    transition: filter 0.3s ease;
    position: absolute;
    bottom: 0;
}
#landing > h6:hover{
    filter: blur(5px); /* Adjust the blur intensity as needed */
}
.Prompt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    border-radius: 10px;
    width: 30vw;
    height: 7vh;
    margin: 2vh;
    border:none;
    background-color:rgba(53, 53, 53, 0.6);
    color: whitesmoke;
    animation: Opacitydown 3s ease-in-out;
}

button{
    font-weight: 450;
    border-radius: 5px;
    width: 20vw;
    height: 8vh;
    border-style: solid;
    border-radius: 20px;
    background-color: rgba(238, 86, 40, 0);
    font-size: 1em;
    cursor: pointer;
    border: solid;
    padding: 10px;
    color: rgb(255, 255, 255);
    animation: Opacitydown 2s ease-in-out;
}
button:hover{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    box-shadow: 0px 0px 50px rgba(255, 255, 255,0.5);
}
/* -------------------------The about sheet goes below from here------------------------------------- */
.background-video{
    position: absolute;
    z-index: -99;
}

#about-sheet{
    background-image: linear-gradient(to bottom,rgb(95, 19, 19),rgb(44, 16, 16));
    /* background-image: url("img/fetchpik.com-4NWVKH0J6S.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 800px rgba(190, 0, 0,0.5);
    overflow-y:visible;
}
.about-data{
    width: 120vh;
    height: 40vh;
    border: solid;
    border-radius: 0px;
    border-color: whitesmoke;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-data:hover{
    /* border: solid; */
    border-radius: 8px;
    border-color: whitesmoke;
    box-shadow: 0px 0px 800px 0px rgba(136, 8, 8, 0.8);
}
.about-data > h1{
    margin: 0;
    color: whitesmoke;
    /* background-color:rgba(0, 0, 0, 0.6); */
}
.about-data > h1:hover{
    text-decoration:underline;
}
.about-data > h4{
    font-style: italic;
    color: whitesmoke;
}
.about-links{
    color:whitesmoke;
    padding: 0.8vh;
    border-radius:8px;
}
.about-links:hover{
    background-color:rgba(221, 221, 221, 0.1);
}

.caution-line{
    align-items: center;
    text-align: center;
    width: 50vw;
}
.caution-line > h6{
    color: whitesmoke;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
.about-sheet-container{
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Geometric elements styling */
.about-sheet {
    position: relative;
}

.geometric-element-circle-1{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement 45s linear infinite alternate;
    filter: blur(5px);
}
.geometric-element-circle-2{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement4 60s infinite alternate;
    filter: blur(5px);
}
.geometric-element-circle-3{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement2 75s ease-in-out infinite alternate-reverse;
    filter: blur(5px);
}
.geometric-element-circle-4{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement3 65s ease-in-out infinite alternate ;
    filter: blur(5px);
}
.geometric-element-square-1{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(250, 250, 250, 0.05);
    animation: moverotateElement1 150s ease-in-out infinite alternate;
    filter: blur(5px);
}
.geometric-element-square-2{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(250, 250, 250, 0.05);
    animation: moverotateElement2 75s ease-in-out infinite alternate;
    filter: blur(5px);
}
.geometric-element-circle-5{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement-alt 55s ease-in-out infinite alternate;
    filter: blur(5px);
}
.geometric-element-circle-6{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement4-alt 60s ease-in-out infinite alternate;
    filter: blur(5px);
}
.geometric-element-circle-7{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement2-alt 70s ease-in-out infinite alternate-reverse;
    filter: blur(5px);
}
.geometric-element-circle-8{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 50%;
    animation: moveElement3-alt 75s ease-in-out infinite alternate ;
    filter: blur(5px);
}
.geometric-element-square-3{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(250, 250, 250, 0.05);
    animation: moverotateElement1-alt 100s ease-in-out infinite;
    filter: blur(5px);
}
.geometric-element-square-4{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(250, 250, 250, 0.05);
    animation: moverotateElement2-alt 80s ease-in-out infinite alternate;
    filter: blur(5px);
}

.geometric-element-circle-1:hover,.geometric-element-circle-2:hover,
.geometric-element-circle-3:hover,.geometric-element-circle-4:hover,
.geometric-element-circle-5:hover,.geometric-element-circle-6:hover,
.geometric-element-circle-7:hover,.geometric-element-circle-8:hover,
.geometric-element-square-1:hover,.geometric-element-square-2:hover,
.geometric-element-square-3:hover,.geometric-element-square-4:hover{
    filter: blur(25px);
}
/*--- dropdown box for contributors screenwidth < 425px  ----*/
.dropbtn{
    color: whitesmoke;
    font-weight: 450;
    padding: 0;
    font-size: 1em;
    width: 15vw;
    height: 6vh;
    border-radius: 10px;
    margin-right: 10vw;
}
.dropdown {
    display: none;
    position: relative;
}
.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: -25vw;
    border-radius: 8px;
    background-color: #d6d6d6;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: flex; /* or block, depending on your layout needs */
}
.dropdown-content > ul > li {
    list-style-type: none;
}
.links-container{
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}
.links-container > li >a {
    color: rgb(0, 0, 0);
    padding: 8px 4px;
    text-decoration: none;
    display: block;
    /* text-align: center; */
}
.dropdown-content a:hover {
    background-color: #696969;
}
/* -------------------- Media Qyeries -------------------*/
/* --------------------Small Laptop Screens---------------*/
@media screen and (max-width:1024px){
    input{
        width: 50vw;
    }
    
    button{
        width: 50vw;
    }
    .about-data{
        width: 90vh;
    }
    .caution-line{
        width: 40vw;
    }
    .caution-line > h6{
        font-size: 0.7em;
    }
    .contributor-container{
        margin-right: 2vw;
        padding-right: 1vw
    }
}

/* --------------------- Tablet devices ----------------------*/
@media screen and (max-width:768px){
    header{
        height: 50px;
        justify-content: space-between;
        position: fixed;
        top: 4px;
        padding: 10px;
    }
    .contributor-container{
        font-size: 0.8em;
    }
    .disp-none-mobile{
        display: none;
    }
    .about-data > h1{
        font-size: 2em;
    }
    .about-data > h4{
        font-weight: normal;
        font-size: 0.8em;
    }
    .caution-line{
        width: 50vw;
    }
    .dropdown{
        display: inline-block;
    }
}

/* --------------------- Mobile devices ----------------------*/
@media screen and (max-width:425px){
    header{
        width: 100vw;
        height: 8vh;
        justify-content: space-between;
        position: fixed;
        top: 0;
        padding: 15px;
        background-color: rgba(255, 255, 255,0);
        align-items: center;
    }
    #landing{
        /* background-image: url("https://img.freepik.com/premium-photo/ai-artificial-intelligence-conceptconceptual-image-modern-technology-networking-concept_947762-5668.jpg?w=360"); */
        background-image: url("https://1.bp.blogspot.com/-lyeT9ZcKtDc/YDulo-eArvI/AAAAAAAAgOg/zOiAbOH8hDsou_6OGip36M1sG9-EeKpkgCLcBGAsYHQ/s640-rw/v4-WIRE-MOBILE-HD.png");
        background-size: cover;
        background-repeat: no-repeat
    }
    #landing > h1{
        font-size: 3em;
    }
    input{
        width: 80vw;
        border: solid;
    }
    
    button{
        margin-top: 2vh;
        font-weight: 400;
        width: 80vw;
        height: 6vh;
        font-size: 1.5em;
        padding: 0px;
        border-width: 1px;
    }
    #landing > h6{
        font-size: 0.5em;
        padding: 8px;
    }
    #about-sheet{
        background-image: linear-gradient(to top,rgb(75, 23, 35),rgb(49, 9, 18));
        box-shadow: 30px 30px 100px 0 #000000
    }
    .about-data{
        width: 60vw;
        height: 60vh
    }
    .caution-line > h6{
        font-size: 0.4em;
    }
    #about-sheet{
        text-align: left;
        justify-content: center;
        box-shadow: 0 0 800px rgba(190, 0, 0,0.5);
        overflow-y: hidden;
    }
    .dropdown{
        margin-top: 4vh;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .dropdown-content {
        margin-top: 1vh;
        margin-left: -20vw;
        border-width: 0px;
    }
    .dropbtn{
        margin-top: 0;
        color: black;
        padding: 0px;
    }
}
/*---------------- M-Mobile devices ---------------------*/
@media screen and (max-width:375px){
    input{
        width: 80vw;
    }
    
    button{
        width: 70vw;
    }
    .about-data{
        width: 70vw;
        height: 60vh
    }
    #landing{
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
/*---------------- M-Mobile devices ---------------------*/
@media screen and (max-width:375px){
    input{
        width: 90vw;
    }
    
    button{
        margin-top: 2vh;
        width: 70vw;
        height: 7vh;
    }
    .about-data{
        width: 70vw;
        height: 60vh
    }
}

