/*   Animation Listings */
@keyframes float{
    0%,60%,100%{
        transform: translateY(0px);
        transform: scale(90%);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(15px);
    }
    75%{
        transform: translateY(10px);
    }
    90%{
        transform: translateY(5px);
    }
}

@keyframes in-animation{
    from{
        transform: scale(80%);
    }
    to{
        transform: scale(100%);
    }
}

@keyframes slideright{
    from{
        transform: translateX(20rem);
    }
    to{
        transform: translateX(24rem);
    }
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*    Navbar Styling    */
#navbar{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color:rgb(196, 0, 186); */
}
.nav-items{
    margin: 0;padding: 0;
}
.nav-ul-links{
    display: flex;   
}
.nav-li-links{
    list-style-type: none;
    margin: 1rem;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;
    border-width: 1px;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.4s;
}
.nav-li-links > a{
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.4s;
}
.logo > h1{
    color: whitesmoke;
    font-weight: bold;
    animation: float 5s infinite ease-in-out;
}
.nav-li-links:hover{
    background-color: whitesmoke;
}
.nav-li-links > a:hover{
    color: black;
}

#wallet-btn{
    padding: 10px;
    font-size: 1em;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 999;
}
#menu-btn{
    list-style-type: none;
    background-color: whitesmoke;
    border-radius: 5px;
    z-index: 999;
}
/*    Vertical Navbar Styling    */
#v-navbar{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(31, 37, 35, 0.8);
    z-index: 999;
    /* background-color:rgb(196, 0, 186); */
}
#close-btn{
    position: absolute;
    right: 20px;top:10px;
    background-color: whitesmoke;
}
.nav-items{
    margin: 0;padding: 0px;
}
.nav-ul-links{
    display: flex;   
}
.v-nav-li-links{
    list-style-type: none;
    margin: 1rem;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;
    border-width: 1px;
    padding: 0.8rem;
    cursor: pointer;
    transition: all 0.4s;
    text-align: center;
}
.v-nav-li-links > a{
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.4s;
}
.v-nav-ul-links{
    margin: 0;padding: 0;
}
.logo > h1{
    color: whitesmoke;
    font-weight: bold;
    animation: float 5s infinite ease-in-out;
}
.nav-li-links:hover{
    background-color: whitesmoke;
}
.nav-li-links > a:hover{
    color: black;
}
#wallet-btn{
    padding: 10px;
    font-size: 1em;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    z-index: 999;
}
.v-navbar{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

/*    Header Styling    */
header{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
    background-image: linear-gradient(to left,rgb(60, 0, 156),rgb(0,0,0));
}
#header-box{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    justify-content: flex-start;
    padding: 4rem;
    animation: slideright 1s linear reverse;
}
#header-box > h1{
    background-image: linear-gradient(35deg,rgb(120, 7, 196),rgb(196, 0, 186));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}
#header-box > p{
    color: whitesmoke;
    max-width: 75%;
}
#link{
    text-align: center;
}
#header-box > div > a{
    display: flex;
    align-items: center;
    color: yellow;
    text-decoration: none;
    display: inline-block;
}
#allbox-container{
    display: flex;
    height: 30vh;
    align-items: baseline;
}
#box-container{
    width: 6rem;
    height: 8rem;
    border-style: solid;
    border-color: rgb(106, 24, 122);
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 2rem;
}
#box-container:hover{
    opacity: 0.5;
}

.box-container1{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-nft-style-ape-illustration_23-2149622021.jpg?size=338&ext=jpg&ga=GA1.1.632798143.1705449600&semt=ais");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box-container2{
    background-image: url("https://img.freepik.com/premium-vector/mutant-ape-yacht-club-nft-artwork-collection-set-unique-bored-monkey-character-nfts-variant_361671-259.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box-container3{
    background-image: url("https://cdn.prod.www.spiegel.de/images/d2caafb1-70da-47e2-ba48-efd66565cde1_w1024_r0.9975262832405689_fpx44.98_fpy48.86.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*    Adding color to SVG      */
.blob-container{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    right:0;
    box-sizing: border-box;
    padding: 2rem;
    animation: in-animation 1s;
}
.blob-container > svg{
    width: fit-content;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
}
.blob-container2{
    width: 45%;
    height: 100vh;
    margin: auto;
    flex-direction: column;
    z-index: 3;
}
/* .blob-container:nth-child(2){
    filter: blur(80px);
} */
/* Animating the NFT image to 3D lit */

#nft_img{
    position: relative;
    max-width: 100%;
    /* margin-top: 80px; */
    padding: 100px 0px 0px ;
    height: auto;
}
/* Links */
.social-links{
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.bi{
    color: white;
    cursor: pointer;
    margin: 0 10px 0px 0px;
}

/*--------------------------- First Main Page Goes Here ------------------------------------------------------------*/
#first-main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(754deg,rgb(45,56,77),rgb(0,0,0));
}
.ai-image-container > h1{
    font-size: 3rem;
    margin: 0 0 40px 0;
    color: whitesmoke;
}
.ai-image-container > h1 > strong,.ai_text-div > h1 > strong{
    color: yellow;
}
.ai-image-container{
    padding: 1rem;
}
.ai-image-container > h1,.ai_text-div > h1{
    color: whitesmoke;
    text-align: center;
}
#ai-img2{
    height: 90%;
}
.ai-img{
    border-radius: 15px;
    border-color: whitesmoke;
    border-width :1px;
    border-style: solid;
    box-shadow: 0 0 50px rgb(50, 83, 110);
    transition: all 0.3s;
    animation: float 25000ms infinite;
}
.ai-img:hover{
    box-shadow: 0 0 120px rgb(50,83,110);
    border-radius: 30px;
}
.ai-img-div{
    display: flex;
    justify-content: space-around;
}
.ai_text-div{
    padding: 3rem;
}
.ai_text-div > p{
    color: whitesmoke;
    text-align: center;
}
#discord-btn{
    width: fit-content;
    height:fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
    font-size: 1em;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}
.discord{
    max-width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
}
.discord > span > h3{
    color: whitesmoke;
}
/* Vertical Scrolling  bAR*/
.scroll-container{
    width: auto;
    height: auto;
    padding: 2rem;
    border-style: solid;
    border-color: whitesmoke;
    overflow-x: auto;
}
.scroll-images-container{
    width: auto;
    height: auto;
    display: flex;
    overflow-x: auto;
}
.scroll-image-cards{
    width: 7rem;
    height: 12rem;
    border-style: solid;
    border-color: whitesmoke;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#second-main{
    background-image: linear-gradient(65deg,rgb(0,0,0),rgb(76,87,89));
}




/*     CSS Media Queries       */
/*    laptop screen - 1024px    */
@media screen and (min-width: 1024px){
    /*        Navbar        */
    #menu-btn{
        display: none;
    }
    #nft-img{
        animation: float 5s infinite ease-in-out;
    }
    /*        HEADER        */
    .bi{
        color: white;
        cursor: pointer;
        margin: 100px 10px 0px 20px;
    }
}

/*     Tablet screen  - 768px    */
@media screen and (max-width:768px){
    /*        Navbar          */
    /* .nav-ul-links{
        display: flex;
        margin: 0;
    }
    .nav-li-links{
        list-style-type: none;
        margin: 0.5rem;
        border-width: 0.5px;
        padding: 0.2rem;
    }
    #wallet-btn{
        padding: 5px 10px;
        border-radius: 8px;
    } */
    #hideonmobile,.hideonmobile{
        display: none;
    }
    #navbar{
        justify-content: space-between;
        /* background-color:rgb(196, 0, 186); */
    }

    /*        Header          */
    #nft_img{
        position: absolute;
        max-width: 20rem;
        margin-top: 0px;
        height: auto;
    }
    .blob-container{
        margin-top: 15vh;
        padding: 0;
    }
    #header-box{
        max-width: 40%;
        column-gap: 7rem;
        padding: 2.5rem;
    }
    #header-box > h1{
        font-size: 2em;
    }
    #header-box > p{
        max-width: 100%;
        font-size: 0.7em;
    }
    #header-box > div > a{
        font-size: 0.6em;
    }
    #box-container{
        height: 7rem;
        margin-top: 1rem;
        margin-left: 0.1rem;
    }
    #allbox-container{
        column-gap: 1em;
    }
    .social-links{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 500;
    }
    .bi{
        color: white;
        cursor: pointer;
        margin: 0 5px 0px 5px;
    }
}

/*   Mobile screens L-size -425px    */
@media screen and (max-width:425px){
    /*     Navbar         */
    #hideonmobile,.hideonmobile{
        display: none;
    }
    #navbar{
        padding: 0.5rem;
        justify-content: space-around;
        /* background-color:rgb(196, 0, 186); */
    }
    /*     Header         */
    header{
        flex-direction: row;
        background-image: linear-gradient(225deg,rgb(60, 0, 156),rgb(0,0,0));
    }

}